@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Poppins, sans-serif;
}
.button-color{
    background-color: #30E3CA !important;
}

.button-agregar{
    display: flex;
    justify-content: center;
}



td {
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
  }

.tables{
    margin: 4vh;
}