
.button-color{
    background-color: #30E3CA !important;
}

.button-agregar{
    display: flex;
    justify-content: center;
}



td {
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
  }

.tables{
    margin: 4vh;
}