.navbar{
    background-color: #11999E !important;
}


.button-color{
    background-color: #30E3CA !important;
}

.button-agregar{
    display: flex;
    justify-content: center;
}

th, td {
    white-space: nowrap;
}

.tables{
    margin: 4vh;
}