body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background-color:  #11999E;
}
.nav-item a{
    color: white;
}

button.navbar-toggler{
    border-color: white;
}

#menuBurger{
    color: white;
    border-color: white;
}

svg{
    height: 20px;
    width: 20px;
}

#carrito{
    width: 50px;
    height:40px;
}

footer .list-unstyled li a{
    text-decoration: none;
}

footer{
   
    background-color: #11999E;
}


  @media (min-width: 768px) and (max-width: 1024px) {
    
    .redes{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
        justify-content: center;
        grid-auto-columns: auto;
        grid-template-areas: 
        "header"
        "content";
    }
    .header {
        grid-area: header;
      }
      
      .content {
        grid-area: content;
      }
    
    #separar{
        margin-left: 90px;
    }
    #separar2{
        margin-left: 50px;
    }
  }

  @media (min-width: 540px) and (max-width: 720px) {
    #separar{
        margin-left: 50px;
    }

  }
